<%- include('../partials/head.ejs') %>
<main class="py-20 md:w-2/3 lg:w-1/2 mx-auto">
  <h2 class="text-center mb-4 text-3xl font-medium">Log In</h2>
  <% if (error) { %>
  <div class="text-red-600 mb-5"><%= error %></div>
  <% } %>

  <form action="/auth/login" method="POST" class="space-y-4">

    <div>
      <label for="email" class="block text-sm font-medium text-gray-900">Email</label>
      <div class="mt-2">
        <input type="email" name="email" id="email" required placeholder="Enter your email" class="block w-full rounded-sm bg-white px-3 py-2 text-sm text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" />
      </div>
    </div>


    <div>
      <label for="password" class="block text-sm font-medium text-gray-900">Password</label>
      <div class="mt-2">
        <input type="password" name="password" id="password" required placeholder="Enter your password" class="block w-full rounded-sm bg-white px-3 py-2 text-sm text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" />
      </div>
    </div>


    <button type="submit" class="rounded-sm mt-10 bg-indigo-600 px-6 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
      Log in
    </button>
  </form>
</main>
<%- include('../partials/end.ejs') %>