@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Raleway', sans-serif;
}

input::file-selector-button {
  background-color: #4f46e5;
  padding: 0.5em;
  border: none;
  color: white;
}
